/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f5f5f5 !important;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
form{
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
}